Source: python-kafka
Section: python
Priority: optional
Maintainer: Arvind <arvindv@juniper.net> 
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7) 
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/python-kafka.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/python-kafka.git;a=summary

Package: python-kafka
Architecture: any
Description: Python client for the Apache Kafka distributed stream processing system
Provides: python-kafka
Replaces: python-kafka-python
Conflicts: python-kafka-python
Depends: ${shlibs:Depends}, ${misc:Depends}
