Source: nova-docker
Section: python
Priority: optional
Maintainer: Ignatious Johnson <ijohnson@juniper.net>
Build-Depends: debhelper (>= 7),
               python-pbr (>= 0.6),
               python-setuptools (>= 0.6b3)
Standards-Version: 3.9.4
Homepage: https://wiki.openstack.org/wiki/Docker

Package: nova-docker
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nova-compute,
         lxc-docker,
         python-websocket,
         python-oslo-config (>= 1:1.4.0.0-0ubuntu1~cloud0),
         python-oslo-concurrency (>= 1.4.1-0contrail0),
         python-oslo-rootwrap (>= 1.3.0.0-0ubuntu1~cloud0),
         python-oslo-serialization,
Description: Docker driver for Kilo OpenStack Nova
