config_opts['root'] = 'epel-7-x86_64'
config_opts['target_arch'] = 'x86_64'
config_opts['legal_host_arches'] = ('x86_64',)
#config_opts['chroot_setup_cmd'] = 'install @buildsys-build'
config_opts['chroot_setup_cmd'] = 'install @buildsys-build scl-utils-build python27-build java-1.7.0-openjdk java-1.7.0-openjdk-devel java-1.7.0-openjdk-headless'
config_opts['dist'] = 'el7'  # only useful for --resultdir variable subst
# beware RHEL use 7Server or 7Client
config_opts['releasever'] = '7'
config_opts['cleanup_on_failure'] = 0
#config_opts['cleanup_on_success'] = 0
config_opts['rpmbuild_networking'] = True

config_opts['yum.conf'] = """
[main]
cachedir=/var/cache/yum
debuglevel=1
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=

# repos
[base]
name=BaseOS
enabled=1
mirrorlist=http://mirrorlist.centos.org/?release=7&arch=x86_64&repo=os
failovermethod=priority
skip_if_unavailable=1

[updates]
name=updates
enabled=1
mirrorlist=http://mirrorlist.centos.org/?release=7&arch=x86_64&repo=updates
failovermethod=priority
skip_if_unavailable=1

[python27]
name=python27
baseurl=http://mirror.centos.org/centos/7/sclo/x86_64/rh/
failovermethod=priority
enabled=1
skip_if_unavailable=1

[epel]
name=epel
enabled=1
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=epel-7&arch=x86_64
failovermethod=priority
skip_if_unavailable=1

[testing]
name=epel-testing
enabled=0
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=testing-epel7&arch=x86_64
failovermethod=priority
skip_if_unavailable=1

[local]
name=local
baseurl=http://kojipkgs.fedoraproject.org/repos/dist-7E-epel-build/latest/x86_64/
cost=2000
enabled=0

[epel-debug]
name=epel-debug
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=epel-debug-7&arch=x86_64
failovermethod=priority
enabled=0

[maven33]
name=maven from apache foundation.
baseurl=https://repos.fedorapeople.org/repos/dchen/apache-maven/epel-7/x86_64/
enabled=1
skip_if_unavailable=1
gpgcheck=0

[hc-httpcore]
name= rpmbone Source
baseurl= http://ftp.pbone.net/mirror/www.jpackage.org/jpackage/6.0/generic/free/ 
enabled=1
skip_if_unavailable=1
gpgcheck=0

[apache-commons-codec]
name=apache-commons-code
baseurl=http://ec2-23-22-86-129.compute-1.amazonaws.com/pub/candlepin/ 
enabled=1
skip_if_unavailable=1
gpgcheck=0
"""
