Package: python-docker-py
Source: docker-py
Version: 0.6.0-1contrail1
Architecture: all
Maintainer: unknown <unknown@unknown>
Installed-Size: 124
Depends: python (>= 2.7), python (<< 2.8), python:any (>= 2.7.1-0ubuntu2), python-requests, python-six
Section: python
Priority: optional
Description: Python client for Docker.
