Source: python-oslo.concurrency
Section: python
Priority: optional
Maintainer: Ignatious Johnson <ijohnson@juniper.net>
Build-Depends: debhelper (>= 9),
               python-pbr (>= 0.6),
               python-setuptools,
Standards-Version: 3.9.4
Homepage: http://docs.openstack.org/developer/oslo.concurrency/

Package: python-oslo.concurrency
Architecture: all
Depends: python-babel (>= 1.3),
         python-fixtures (>= 0.3.14),
         python-iso8601 (>= 0.1.9),
         python-oslo.config (>= 1.2.0.0),
         python-oslo.i18n,
         python-oslo.utils,
         python-pbr (>= 0.6),
         python-posix-ipc,
         python-six (>= 1.7.0),
         python-retrying,
         ${shlibs:Depends},
         ${misc:Depends}
Description: Oslo concurrency library
 Oslo concurrency library has utilities for safely running multi-thread,
 multi-process applications using locking mechanisms and for running external processes.
