Source: nodejs
Section: web
Priority: extra
Maintainer: OpenContrail developers <dev@lists.opencontrail.org>
Uploaders: Sebastien Badia <seb@sebian.fr>
Build-Depends: debhelper (>= 9), python (>= 2.6.6-3~)
Standards-Version: 3.9.5
Vcs-Browser: https://github.com/tungstenfabric/tf-third-party-packages.git
Vcs-Git: git://github.com/tungstenfabric/tf-third-party-packages.git
Homepage: http://nodejs.org/

Package: nodejs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Node.js event-based server-side javascript engine
 Node.js is similar in design to and influenced by systems like
 Ruby's Event Machine or Python's Twisted.
 .
 It takes the event model a bit further - it presents the event
 loop as a language construct instead of as a library.
 .
 Node.js is bundled with several useful libraries to handle server tasks :
 System, Events, Standard I/O, Modules, Timers, Child Processes, POSIX,
 HTTP, Multipart Parsing, TCP, DNS, Assert, Path, URL, Query Strings.
